* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.logo {
    display: inline-block;
}

#intro_block {
    width: 100%;
    background-image: url(img/intro.jpg);
    background-size: cover;
    height: 300px;
}

main h2 {
    padding-left: 10px;
    margin: 10px 0;
}

.main-header {
    width: 100%;
    background: #2ddf5c;
    padding: 8px 16px;
    border-bottom: 3px solid #d9dad9;
    overflow: auto;

    text-transform: uppercase;
}

.main-header__title {
    float: right;
    text-align: right;
}

.main-header__sub-title {
    padding: 10px 0;
    font-size: .7em;
}

.feature {
    display: flex;
    flex-wrap: wrap;
}

.feature-work {
    margin: 0 auto;
    text-align: center;
    float: left;
}

.feature-work img {
    width: 300px;
}

.feature-work h3 {
    margin:auto;
    text-transform: uppercase;
}

/* max: 400px */
@media screen and (max-width: 412px) {
    .main-header__title {
        font-size: .7em;
    }
    .feature-work img {
        width: 90%;
    }
}

@media screen and (min-width: 768px) {
    .feature-work img {
        width: 230px;
    }
}

@media screen and (min-width: 900px) {
    .container {
        max-width: 980px;
        margin: 0 auto;
    }
}